<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[ePatientApi]*</Include>
          <Exclude>[ePatientApi.Tests]*</Exclude>
          <Output>$(System.DefaultWorkingDirectory)/CoverageResults/coverage.cobertura.xml</Output>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>